.ColourPalette-container {
    background-color: #635255;
    min-height: 30vh;
    max-height: 80vh;
    min-width: 50vh;
    max-width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ColourPalette-header {
    display: flex;
    align-items: center;
  }

.ColourPalette-swatchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}